In [1]:
import pandas as pd

data = pd.read_json('data.json', orient='records')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 63 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  1303 non-null   object
 1   image                 1137 non-null   object
 2   Hangul                1 non-null      object
 3   Hanja                 1 non-null      object
 4   Revised Romanization  1 non-null      object
 5   McCune–Reischauer     1 non-null      object
 6   Directed by           1286 non-null   object
 7   Produced by           1261 non-null   object
 8   Screenplay by         539 non-null    object
 9   Story by              163 non-null    object
 10  Starring              1147 non-null   object
 11  Music by              1075 non-null   object
 12  Cinematography        1111 non-null   object
 13  Edited by             1139 non-null   object
 14  Production            876 non-null    object
 15  Distributed by        1214 non-null   object
 16  Release date          1296 non-null   object
 17  Running time          1283 non-null   object
 18  Country               1271 non-null   object
 19  Language              1267 non-null   object
 20  Budget                797 non-null    object
 21  Box office            877 non-null    object
 22  Based on              528 non-null    object
 23  Written by            622 non-null    object
 24  Animation by          31 non-null     object
 25  Layouts by            15 non-null     object
 26  Color process         28 non-null     object
 27  Narrated by           119 non-null    object
 28  Backgrounds by        11 non-null     object
 29  Suggested by          2 non-null      object
 30  Episode               1 non-null      object
 31  Featured music        1 non-null      object
 32  Original air date     1 non-null      object
 33  Portuguese            1 non-null      object
 34  Narration by          1 non-null      object
 35  Editor(s)             2 non-null      object
 36  Distributor           2 non-null      object
 37  Original release      3 non-null      object
 38  Spanish               2 non-null      object
 39  Created by            1 non-null      object
 40  Country of origin     2 non-null      object
 41  Original              2 non-null      object
 42  No.                   1 non-null      float64
 43  Producer(s)           2 non-null      object
 44  Original network      1 non-null      object
 45  Picture format        1 non-null      object
 46  Adaptation by         1 non-null      object
 47  Theme music composer  1 non-null      object
 48  Traditional           1 non-null      object
 49  Simplified            1 non-null      object
 50  Mandarin              1 non-null      object
 51  Japanese              1 non-null      object
 52  Hepburn               1 non-null      object
 53  Author                1 non-null      object
 54  Illustrator           1 non-null      object
 55  Publisher             1 non-null      object
 56  Publication date      1 non-null      float64
 57  Media type            1 non-null      object
 58  Pages                 1 non-null      float64
 59  ISBN                  1 non-null      object
 60  OCLC                  1 non-null      float64
 61  Dewey Decimal         1 non-null      object
 62  Website               1 non-null      object
dtypes: float64(4), object(59)
memory usage: 641.9+ KB

Looking at the output of the `info` call we can see that many of the columns have only a few values. We can safely remove these columns form our final data model.

In [2]:
data = data.dropna(thresh=5, axis=1)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1303 non-null   object
 1   image           1137 non-null   object
 2   Directed by     1286 non-null   object
 3   Produced by     1261 non-null   object
 4   Screenplay by   539 non-null    object
 5   Story by        163 non-null    object
 6   Starring        1147 non-null   object
 7   Music by        1075 non-null   object
 8   Cinematography  1111 non-null   object
 9   Edited by       1139 non-null   object
 10  Production      876 non-null    object
 11  Distributed by  1214 non-null   object
 12  Release date    1296 non-null   object
 13  Running time    1283 non-null   object
 14  Country         1271 non-null   object
 15  Language        1267 non-null   object
 16  Budget          797 non-null    object
 17  Box office      877 non-null    object
 18  Based on        528 non-null    object
 19  Written by      622 non-null    object
 20  Animation by    31 non-null     object
 21  Layouts by      15 non-null     object
 22  Color process   28 non-null     object
 23  Narrated by     119 non-null    object
 24  Backgrounds by  11 non-null     object
dtypes: object(25)
memory usage: 254.8+ KB

Checking why important columns such as name and release date have missing values

In [3]:
data[pd.isna(data['name'])]

,name,image,Directed by,Produced by,Screenplay by,Story by,Starring,Music by,Cinematography,Edited by,...,Language,Budget,Box office,Based on,Written by,Animation by,Layouts by,Color process,Narrated by,Backgrounds by
1170,NaN,{'src': '//upload.wikimedia.org/wikipedia/en/t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Only the image seems to be present here

In [4]:
data[pd.isna(data['name'])].image.values[0]['src']

'//upload.wikimedia.org/wikipedia/en/thumb/a/ae/The_Lost_Thing_cover.jpg/220px-The_Lost_Thing_cover.jpg'

Doing some reseach we find the the link for this film actually points to a [book page](https://en.wikipedia.org/wiki/The_Lost_Thing) that does not have the same information in the side box as the rest. So ignoring this.

In [5]:
data[pd.isna(data['Release date'])]

,name,image,Directed by,Produced by,Screenplay by,Story by,Starring,Music by,Cinematography,Edited by,...,Language,Budget,Box office,Based on,Written by,Animation by,Layouts by,Color process,Narrated by,Backgrounds by
232,Episode chronology,NaN,Robert Enrico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Robert Enrico, based on a short story by",NaN,NaN,NaN,NaN,NaN
609,Czechoslovakia 1968,NaN,Denis Sanders,Denis Sanders,NaN,NaN,NaN,Charles Bernstein,NaN,Marvin Wallowitz,...,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,Release,NaN,Ferenc Rofusz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ferenc Rofusz,NaN,NaN,NaN,NaN,NaN
902,External links,{'src': '//upload.wikimedia.org/wikipedia/en/t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,External links,{'src': '//upload.wikimedia.org/wikipedia/en/t...,Jon Blair,NaN,NaN,NaN,Glenn Close,NaN,Barry Ackroyd,NaN,...,NaN,NaN,NaN,NaN,Jon Blair,NaN,NaN,NaN,Kenneth Branagh,NaN
1070,Chernobyl Heart,NaN,Maryann DeLeo,Maryann DeLeo,NaN,NaN,NaN,NaN,NaN,John Custodio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1170,NaN,{'src': '//upload.wikimedia.org/wikipedia/en/t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1219,Curfew,{'src': '//upload.wikimedia.org/wikipedia/en/t...,Shawn Christensen,Damon Russell,NaN,NaN,Fátima Ptacek,Darren Morze,Daniel Katz,Shawn Christensen,...,English,NaN,NaN,NaN,Shawn Christensen,NaN,NaN,NaN,NaN,NaN

These entries also have a lot of missing data on their respective pages-- including differnt html structure. So we can so far assume that the parsing is working properly.

Now let's try to structure the data into different tables

In [6]:
from pandas.api.types import infer_dtype

dtypes = [infer_dtype(data[col]) for col in data.columns]

data.columns[list(map(lambda x: x == 'string', dtypes))]

Index(['name', 'Layouts by', 'Color process', 'Backgrounds by'], dtype='object')

So far most of the columns seem to have mixed types of data

In [7]:
mixed_data_clomuns = data.columns[list(map(lambda x: x == 'mixed', dtypes))]

for col in mixed_data_clomuns:
    print(data[col].map(type).describe())
    print(data[col].map(type).unique())
    print()

count               1304
unique                 2
top       <class 'dict'>
freq                1137
Name: image, dtype: object
[<class 'dict'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq               1253
Name: Directed by, dtype: object
[<class 'str'> <class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq                982
Name: Produced by, dtype: object
[<class 'list'> <class 'str'> <class 'float'>]

count                1304
unique                  3
top       <class 'float'>
freq                  765
Name: Screenplay by, dtype: object
[<class 'list'> <class 'str'> <class 'float'>]

count                1304
unique                  3
top       <class 'float'>
freq                 1141
Name: Story by, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count              1304
unique                3
top       <class 'str'>
freq                608
Name: Starring, dtype: object
[<class 'list'> <class 'float'> <class 'str'>]

count              1304
unique                3
top       <class 'str'>
freq               1021
Name: Music by, dtype: object
[<class 'str'> <class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq               1070
Name: Cinematography, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count              1304
unique                3
top       <class 'str'>
freq               1046
Name: Edited by, dtype: object
[<class 'str'> <class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq                626
Name: Production, dtype: object
[<class 'str'> <class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq               1136
Name: Distributed by, dtype: object
[<class 'list'> <class 'str'> <class 'float'>]

count               1304
unique                 2
top       <class 'list'>
freq                1296
Name: Release date, dtype: object
[<class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq               1273
Name: Running time, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count              1304
unique                3
top       <class 'str'>
freq               1171
Name: Country, dtype: object
[<class 'str'> <class 'list'> <class 'float'>]

count              1304
unique                3
top       <class 'str'>
freq               1215
Name: Language, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count              1304
unique                3
top       <class 'str'>
freq                793
Name: Budget, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count              1304
unique                3
top       <class 'str'>
freq                868
Name: Box office, dtype: object
[<class 'str'> <class 'float'> <class 'list'>]

count                1304
unique                  3
top       <class 'float'>
freq                  776
Name: Based on, dtype: object
[<class 'float'> <class 'str'> <class 'list'>]

count                1304
unique                  3
top       <class 'float'>
freq                  682
Name: Written by, dtype: object
[<class 'float'> <class 'str'> <class 'list'>]

count                1304
unique                  3
top       <class 'float'>
freq                 1273
Name: Animation by, dtype: object
[<class 'float'> <class 'str'> <class 'list'>]

count                1304
unique                  3
top       <class 'float'>
freq                 1185
Name: Narrated by, dtype: object
[<class 'float'> <class 'str'> <class 'list'>]

Analyzing these results we realize that the float type data we see are `NaN` values and all other variables contain list.

While a movie can have multiple languages, it is suspicious for it to have multiple budgets or be based on multiple sources. Inspecting furthur:

In [27]:
for col in data.columns:
    print(data[[datatype == list for datatype in data[col].map(type)]][col].head())
    print()

Series([], Name: name, dtype: object)

Series([], Name: image, dtype: object)

27           [ (uncredited), Victor Fleming, King Vidor]
94                       [Guy Brenton, Lindsay Anderson]
137                      [Harve Foster, Wilfred Jackson]
152    [ (supervising), William Cottrell, David Hand,...
177                 [Michael Powell, Emeric Pressburger]
Name: Directed by, dtype: object

0    [Moon Yang-kwon, Bong Yok-cho, Jang Young-hwan...
1         [Denzel Washington, Todd Black, Scott Rudin]
2                         [Kristóf Deák, Anna Udvardy]
3    [Shawn Levy, Dan Levine, Aaron Ryder, David Li...
4    [Ezra Edelman, Tamara Rosenberg, Nina Krstic, ...
Name: Produced by, dtype: object

0                           [Bong Joon-ho, Han Jin-won]
8                     [Robert Schenkkan, Andrew Knight]
26                    [Samuel Hoffenstein, Eric Taylor]
27    [Noel Langley, Florence Ryerson, Edgar Allan W...
81                        [Tess Slesinger, Frank Davis]
Name: Screenplay by, dtype: object

237                   [Meredith Willson, Franklin Lacey]
293    [Federico Fellini, Ennio Flaiano, Tullio Pinelli]
346                        [Robert Riskin, Liam O'Brien]
417                             [Joe Grant, Dick Huemer]
442                        [Leo McCarey, Frank R. Adams]
Name: Story by, dtype: object

0    [Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...
1    [Denzel Washington, Viola Davis, Stephen McKin...
2    [Dorka Gáspárfalvi, Dorottya Hais, Zsófia Szam...
3    [Amy Adams, Jeremy Renner, Forest Whitaker, Mi...
6    [Eddie Redmayne, Katherine Waterston, Dan Fogl...
Name: Starring, dtype: object

13                           [Composed and conducted by]
123    [ (uncredited), Louis Gruenberg, Richard Hagem...
137       [Edward Plumb, Paul J. Smith, Charles Wolcott]
152         [Frank Churchill, Paul Smith, Leigh Harline]
174                        [Georges Auric, Victor Young]
Name: Music by, dtype: object

26                          [W. Howard Greene, Hal Mohr]
174                         [Henri Alekan, Franz Planer]
217    [Tom Tutwiler, Lamar Boren, James Wong Howe, F...
222                    [W. Howard Greene, Victor Milner]
254                     [Lloyd Ahern, Charles G. Clarke]
Name: Cinematography, dtype: object

4      [Bret Granato, Maya Mumma, Ben Sozanski]
15                  [Nat Sanders, Joi McMillon]
110            [Doane Harrison, Arthur Schmidt]
120          [Anson Stevenson, James E. Newcom]
123            [Otho Lovering, Dorothy Spencer]
Name: Edited by, dtype: object

1    [Macro Media, Bron Creative, Escape Artists, S...
3    [FilmNation Entertainment, Lava Bear Films, 21...
4                           [Laylow Films, ESPN Films]
5      [Walt Disney Pictures, Pixar Animation Studios]
6                [Warner Bros. Pictures, Heyday Films]
Name: Production, dtype: object

0                                     [CJ Entertainment]
8      [(United States), (Australia), Summit Entertai...
10                [Amazon Studios, Roadside Attractions]
96     [ ,  , British Lion Film Corporation, Selznick...
293    [ (Italy), Pathé Consortium Cinéma (France), C...
Name: Distributed by, dtype: object

0    [2019-05-21, 2019-05-30]
1    [2016-12-15, 2016-12-16]
2                [2016-02-28]
3    [2016-09-01, 2016-11-11]
4    [2016-01-22, 2016-05-20]
Name: Release date, dtype: object

293           [174 minutes, 180 minutes (United States)]
371    [221 minutes, 234–238 minutes (with , , , , , ...
555                       [193 minutes,  , 200 minutes ]
587    [147 minutes, 100 minutes, 84 minutes, 100 min...
594                           [149 minutes, 155 minutes]
Name: Running time, dtype: object

6     [United Kingdom, United States]
7                      [Iran, France]
8          [United States, Australia]
17            [Greece, United States]
96                   [United Kingdom]
Name: Country, dtype: object

17               [English, Greek]
77             [English, Spanish]
79              [English, French]
96     [English, German, Russian]
286     [English, German, French]
Name: Language, dtype: object

587     [8,291,712 Soviet rubles, (US$9.2 million)]
838                    [£2.3 million, ($3 million)]
1058                           [($15–19.2 million)]
1281       [$70 million (gross), $59 million (net)]
Name: Budget, dtype: object

16                        [US$2,137,575 , US$5,295,526 ]
26                  [$1.6 million, 2,316,416 admissions]
293    [$19.5 million (United States), 13,617,148 adm...
629                     [$30.8 million , $14.6 million ]
639                       [$51.7 million , $75 million ]
Name: Box office, dtype: object

192    [, a novel, by ,  , Vladimir Jabotinsky, Holy ...
234       [by Alan Jay Lerner, by , George Bernard Shaw]
278                                  [Louisa May Alcott]
599             [by , by , Alan Jay Lerner, T. H. White]
631    [1954 Biography, by , 1961 Autobiography, by ,...
Name: Based on, dtype: object

13                                      [Rachel Shenton]
57     [Don Hartman, Francis Martin, Frank Butler, Wa...
94                       [Guy Brenton, Lindsay Anderson]
110    [Charles Brackett, Billy Wilder, D. M. Marshma...
120    [William A. Wellman, Robert Carson, Dorothy Pa...
Name: Written by, dtype: object

506    [Art Davis, Virgil Ross, Gerry Chiniquy, Harry...
Name: Animation by, dtype: object

Series([], Name: Layouts by, dtype: object)

Series([], Name: Color process, dtype: object)

440                            [Kent Smith, Hans Conried]
543                     [Fredric March, Burgess Meredith]
908                      [Dorothy Stroup, Lynn O'Donnell]
1097    [ (Hindi),  (French),  (French),  (French),  (...
Name: Narrated by, dtype: object

Series([], Name: Backgrounds by, dtype: object)

We have finally stumbled on some inconsistencies in our parsing. Checking the `Based on` column closely we find that this might not be a list after all.

In [29]:
data[[datatype == list for datatype in data['Based on'].map(type)]]['Based on'].head()

192    [, a novel, by ,  , Vladimir Jabotinsky, Holy ...
234       [by Alan Jay Lerner, by , George Bernard Shaw]
278                                  [Louisa May Alcott]
599             [by , by , Alan Jay Lerner, T. H. White]
631    [1954 Biography, by , 1961 Autobiography, by ,...
Name: Based on, dtype: object

There are similar inconsistencies that are now aparent. However, we now have a through under standing of the structure of data we have and can go back to our scraping application.